<%- include('partials/header.ejs') %>
<!-- Header -->
<head>

</head>

<!-- Body -->
<body>
	<div class="header">
		<h2>Astreaa and Friends</h2>
	</div>

	<!-- Left (Main) Column -->
	<div class="left-column">
		<div class="card">
			<h1>Astreaa Moonraiser</h1>
			<h5>Onyx Marshall of House Matheredor with a headstrong attitude.</h5>
			<p>More details here?</p>
		</div>
		<div class="card">
			<h1>Hafza</h1>
			<h5>Scout for House Matheredor. No stranger to the wilderness.</h5>
		</div>
		<dir class="card">
			<h1>Evidori</h1>
			<h5>Spellblade and thief from Suramar. Breaking away from the mold to strike out on her own.</h5>
		</dir>
		<dir class="card">
			<h1>Kelltaa</h1>
			<h5>Engineer in the Army of the Light. Simply passing the time before the next large battle.</h5>
		</dir>
	</div>

	<!-- Right (Side) Column -->
	<div class="right-column">
		<div class="card">
			<h1>About</h1>
			<p>I'm a relatively new World of Warcraft RPer that started during Battle for Azeroth (8.2), yet have been Roleplaying for well over ten years. This website is a passion project of mine, so don't be surprised if it's a little rough around the edges. Feel free to explore around and read any of the posts you see!</p>
		</div>
		<div class="card">
			<h1>Contact Me!</h1>
		</div>
	</div>
</body>
</html>