<%- include('partials/header.ejs') %>
<!-- Header -->
<head>

</head>

<!-- Body -->
<body>
	<div class="header">
		<h2>Astreaa and Friends</h2>
	</div>

	<!-- Left (Main) Column -->
	<div class="left-column">
		<div class="card">
			<h1>Astreaa Moonraiser</h1>
			<h5>Onyx Marshall of House Matheredor with a headstrong attitude.</h5>
		</div>
		<div class="card">
			<h1>Hafza</h1>
		</div>
		<dir class="card">
			<h1>Evidori</h1>
		</dir>
		<dir class="card">
			<h1>Kelltaa</h1>
		</dir>
	</div>

	<!-- Right (Side) Column -->
	<div class="right-column">
		<div class="card">
			<h1>About</h1>
		</div>
		<div class="card">
			<h1>Contact Me!</h1>
		</div>
	</div>
</body>
</html>