<%- include('partials/header.ejs') %>
<!-- Header -->
<head>

</head>

<!-- Body -->
<body>
	<div class="header">
		<h2>Astreaa and Friends</h2>
	</div>

	<!-- Left (Main) Column -->
	<div class="left-column">
		<a href="/Astreaa">
			<div class="card" href="/Astreaa">
				<h1>Astreaa Moonraiser</h1>
				<img src="images/alliance.png" alt="alliance flag" class="ribbon">
				<h5>Onyx Marshall of House Matheredor.</h5>
				<p>A headstrong and brash Kaldorei hailing from the ancient forest of Val'sharah. While she certainly isn't one of the oldest Kaldorei, her martial prowess and Druidic skill speaks for itself. After spending countless years of her life dedicated to patient vigil and defense of her people's values, she now stikes out on her own.</p>
			</div>
		</a>
		<div class="card">
			<h1>Hafza</h1>
			<img src="images/alliance.png" alt="alliance flag" class="ribbon">
			<h5>Scout for House Matheredor.</h5>
			<p>Hafza is a now ancient Draenei, originally hailing from Argus. Much of her life was spent aboard the Genedar and vairous other worlds, all eventually brought to destruction by the Burning Legion. Now, without the worry of the Crusade, she can now focus on what really matters: friends and her family. Oh, and Mothy. Of course.</p>
		</div>
		<dir class="card">
			<h1>Evidori</h1>
			<img src="images/horde.png" alt="horde flag" class="ribbon">
			<h5>Spellblade and thief from Suramar.</h5>
			<p>Can you imagine spending your life within a domed city? Locked away from a world you believed destroyed, only to discover it was alive all that time? That your own kin now shunned you, and the newest of powers and faces welcomed you with open arms? Evidori asks herself these questions before dedicating herself to the Horde. To fighting for freedom, for safety, and so no city must suffer the same fate as Suramar did.</p>
		</dir>
		<dir class="card">
			<h1>Kelltaa</h1>
			<img src="images/alliance.png" alt="alliance flag" class="ribbon">
			<h5>Engineer in the Army of the Light.</h5>
			<p>The Army of the Light gave Kelltaa purpose. A drive. Something to rally behind like never before. Her life before the Xenedar is merely a page you skip before getting to the beef of her story. Now with the Burning Legion gone, she has found herself able to relax and focus on herself. At least, until the next big threat happens and demands her attention once more.</p>
		</dir>
	</div>

	<!-- Right (Side) Column -->
	<div class="right-column">
		<div class="card-right">
			<h1>About</h1>
			<p>I'm a relatively new World of Warcraft RPer that started during Battle for Azeroth (8.2), yet have been Roleplaying for well over ten years. This website is a passion project of mine, so don't be surprised if it's a little rough around the edges. Feel free to explore around and read any of the posts you see!</p>
		</div>
		<div class="card-right">
			<h1>Contact Me!</h1>
		</div>
	</div>
</body>
</html>